<div>
    
  
    
   
	
		<md-button ng-click="vm.redirect('/')" class="md-fab md-mini md-primary" aria-label="Voltar">
	  			<md-icon md-svg-icon="app/spas/users/img/back.svg"></md-icon>
	  			<md-tooltip md-direction="bottom">Voltar</md-tooltip>
		</md-button> 
		
		<br/>
		<br/>
		
		
		  <md-content layout-padding ng-cloak>
		      <form name="tarefaForm">
		
		        <!-- Inicio Row -->
		        <div layout-gt-xs="row">
			          <md-input-container class="md-block" flex-gt-sm>
			             <label>Nome</label>
						 <input ng-model="vm.tarefa.nome" />
			          </md-input-container>
			
					  <div flex-gt-sm>	
						  <div bb-dropdown bb-no-arrow="true" bb-on-toggle="vm.toggled(open)">
							    <a href id="simple-dropdown" bb-dropdown-toggle>
							        Selecione o Usuário:
							    </a>
							    <ul bb-dropdown-menu aria-labelledby="simple-dropdown">
							        <li role="menuitem" ng-repeat="usuario in vm.usuarios" >
							            <a ng-click="vm.setUsuario(usuario)" style="text-decoration:none" >{{ usuario.nome }}</a>
							        </li>
							    </ul>
						  </div>
					  </div>
					  
					
			          <md-input-container >
				            <label>Data Início</label>
				            <md-datepicker ng-model="vm.tarefa.dataInicio" aria-label="Data Início" ></md-datepicker>
			          </md-input-container>
		       
		          
		          
			          <md-input-container>
				            <label>Data Fim</label>
				            <md-datepicker ng-model="vm.tarefa.dataFim"  aria-label="Data Fim"></md-datepicker>
			          </md-input-container>
				       	          
		       	</div>
		        
		        <!-- Inicio Row -->
		        <div layout-gt-xs="row">
		        	<md-radio-group ng-model="vm.tarefa.statusTarefaEnum">
	
			        	<md-radio-button ng-repeat="statusTarefa in vm.statusTarefasEnums"
			        				     aria-label="{{ statusTarefa.statusTarefaEnum }}"		        				 
			                         	 ng-value="statusTarefa.statusTarefaEnum">
			                         	 
			                         	 {{ statusTarefa.statusTarefaEnum }}
			                         	 
						</md-radio-button>
	
	    			</md-radio-group>
	    		</div>	
	    		
	    		 <md-button ng-click="vm.adicionarTarefa(vm.tarefa)" class="md-raised md-primary">Adicionar Tarefa</md-button>
	    		
		      </form>
		   
		  </md-content>
		
	
		<br/>
		
		  
	       
	       
	       <br/>
	       
	        <div role="alert" aria-live="assertive" aria-atomic="true">
		        <bb-alert bb-type="success" ng-show="vm.message != ''">
		            <bb-alert-content>
		                <p> {{vm.message}}</p>
		            </bb-alert-content>
		        </bb-alert>
		
		
		        <bb-alert bb-type="error" ng-show="vm.errorMessage != ''">
		            <bb-alert-content>
		                <p>{{vm.errorMessage}}</p>
		            </bb-alert-content>            
		        </bb-alert>
		    </div>
		
			<br/>
			<br/>
			<br/>
			<br/>
	       
	       <table class="table table--hover table--striped">
	
		    <tr>
		        <th style="width:150px">Nome</th>
		        <th style="width:150px">Usuário</th>
		        <th style="width:150px">Data Início</th>
		        <th style="width:150px">Data Fim</th>
		        <th style="width:50px">Status</th>
		        <th style="text-align: center;">Ação</th>
		    </tr>
		    <tr ng-repeat="tarefa in vm.tarefas">
		    
		    	<td>
		    		<div ng-if="tarefa.preEditar == false">
		    			{{ tarefa.nome }}
		    		</div>
		    		
		    		<div ng-if="tarefa.preEditar == true">
		    			<md-input-container class="md-block" flex-gt-sm>
				             <label>Nome</label>
							 <input ng-model="tarefa.nome" />
		         		 </md-input-container>
		    		</div>
		    	</td>
		    
		    	<td>
		    		<div ng-if="tarefa.preEditar == false">
		    			{{ tarefa.usuario.nome }}
		    		</div>
		    		
		    		<div ng-if="tarefa.preEditar == true">
		    			 <div bb-dropdown bb-no-arrow="true" bb-on-toggle="vm.toggled(open)">
						    <a href id="simple-dropdown" bb-dropdown-toggle class="md-block" flex-gt-sm>
						        {{ tarefa.usuario.nome }}
						    </a>
						    <ul bb-dropdown-menu aria-labelledby="simple-dropdown">
						        <li role="menuitem" ng-repeat="usuario in vm.usuarios" >
						            <a ng-click="vm.setUsuarioTarefa(usuario,tarefa)" style="text-decoration:none" >{{ usuario.nome }}</a>
						        </li>
						    </ul>
				  		</div>
		    		</div>
		    		
		    	</td>
		    	
		    	<td>
		    		<div ng-if="tarefa.preEditar == false">
		    			{{ tarefa.dataInicio | date: 'dd/MM/yyyy HH:mm' }}
		    		</div>
		    		
		    		<div ng-if="tarefa.preEditar == true">
		    		
		    		</div>
		    	</td>
		    	
		    	<td>
		    		<div ng-if="tarefa.preEditar == false">
		    			{{ tarefa.dataFim | date: 'dd/MM/yyyy HH:mm' }}
		    		</div>
		    	</td>
		    
		    	<td>
		    		<div ng-if="tarefa.preEditar == false">
		    			{{ tarefa.statusTarefaEnum }}
		    		</div>
		    		
		    		<div ng-if="tarefa.preEditar == true">
		    		
		    		</div>
		    	</td>
		    	
		    	<td style="text-align: center;">
		          <div>
			           <div ng-if="tarefa.preEditar == false" style=" display: inline-block;">			           
					        <div> 
						        <md-button ng-click="vm.editarTarefa(tarefa,$index)" class="md-fab md-mini md-primary" aria-label="Editar">
				            		<md-icon  md-svg-icon="app/spas/users/img/edit.svg"></md-icon>
				            		<md-tooltip md-direction="bottom">Editar</md-tooltip>		        			
				        	    </md-button>
			        		</div> 
				       </div>   
				       <div ng-if="tarefa.preEditar == true"  style=" display: inline-block;">	
				       		<div> 
					            <md-button ng-click="vm.confirmarEditar(tarefa,$index)" class="md-fab md-mini md-primary" aria-label="Confirmar">
			            			<md-icon md-svg-icon="app/spas/users/img/confirm.svg"></md-icon>
			            			<md-tooltip md-direction="bottom">Confirmar</md-tooltip>
			        			</md-button> 
			        		</div>
			           </div>   
			           <div ng-if="tarefa.preEditar == true"  style=" display: inline-block;">	
			           		<div>
					            <md-button ng-click="vm.cancelarEditarTarefa(tarefa,$index)" class="md-fab md-mini md-primary" aria-label="Cancelar">
					            	<md-icon  md-svg-icon="app/spas/users/img/cancel.svg" ></md-icon>	
					            	<md-tooltip md-direction="bottom">Cancelar</md-tooltip> 
					            </md-button>
				            </div>
			           </div> 
			           <div ng-if="tarefa.preEditar == false" style=" display: inline-block;"> 
			           		<div>
					             <div ng-click="vm.confirmarExcluirTarefa($index,$event)" >
					            	<md-button class="md-fab md-mini md-primary"  aria-label="Excluir">
					            		<md-icon md-svg-icon="app/spas/users/img/delete.svg"></md-icon>
					            		<md-tooltip md-direction="bottom">Excluir</md-tooltip> 
					            	</md-button>
					             </div>
					        </div>
				       </div>			      
			       </div>
		        </td>
		    	
		    	
		    </tr>
		       
		  </table>
		       
	
	
</div>