


<div ng-cloak>
  <md-content class="md-padding">
    <md-nav-bar md-no-ink-bar="disableInkBar" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-click="vm.redirect('/cadastroUsuario')" name="page1">
        Cadastro Usuário
      </md-nav-item>
      <md-nav-item md-nav-click="vm.redirect('/cadastroTarefa')" name="page2">
        Cadastro Tarefa
      </md-nav-item>    
    </md-nav-bar>
  </md-content>
</div>


<br/>

<!--  combo pai
<div bb-dropdown bb-no-arrow="true" bb-on-toggle="vm.toggled(open)">
    <a href id="simple-dropdown" bb-dropdown-toggle>
        Clique aqui para ver um dropdown do Item
    </a>
    <ul bb-dropdown-menu aria-labelledby="simple-dropdown">
        <li role="menuitem" ng-repeat="item in vm.items" >
            <a ng-click="vm.getItem(item)">{{ item.nome }}</a>
        </li>
    </ul>
</div>

<br/>
<br/>
-->

<!--  combo filha
<div bb-dropdown bb-no-arrow="true">
    <a href id="simple-dropdown" bb-dropdown-toggle>
        Clique aqui para ver um dropdown do subItem
    </a>
    <ul bb-dropdown-menu aria-labelledby="simple-dropdown" >
        <li role="menuitem" ng-repeat="subItem in vm.item.subItem" >
            <a style="text-decoration:none">{{ subItem.nome }}</a>
        </li>
    </ul>
</div>
-->
