<div>
    <div class="container">    
        <table class="table table-bordered">
            <tr>
                <td width="100">ID:</td>
                <td><input type="text" id="id" ng-model="vm.user.id" /></td>
            </tr>
            <tr>
                <td width="100">Name:</td>
                <td><input type="text" id="name" ng-model="vm.user.name" /></td>
            </tr>
            <tr>
                <td width="100">Email:</td>
                <td>
                    <input type="text" id="email" ng-model="vm.user.email" />
                    <span ng-show="email.$error.email">Email Inválido</span>
                </td>
            </tr>
   
        </table>
        <br /> 
        <input type="button" ng-click="vm.adicionarUser(vm.user)" value="Adicionar Usuário" />
    </div>	

    <br /> 
    <p style="color: green">{{message}}</p>
    <p style="color: red">{{errorMessage}}</p>


<br />

<table class="table table--hover table--striped">

    <tr>
        <th style="width:150px">Id</th>
        <th style="width:150px">Nome</th>
        <th style="width:150px">Email</th>
        <th>Ação</th>
    </tr>
    <tr ng-repeat="user in vm.users | filter:vm.filtrarUserPorId">
        <td>             
            {{ user.id }}        
        </td>
        <td>
            <div ng-if="user.preEditar == false">
                {{ user.name }}
            </div>
            <div ng-if="user.preEditar == true">
                <input type="text" id="id" ng-model="user.name" />
            </div>
        </td>
        <td>
            <div ng-if="user.preEditar == false">
                {{ user.email }}
            </div>
            <div ng-if="user.preEditar == true">
                <input type="text" id="id" ng-model="user.email" />
            </div>    
        </td>
        <td>
            <a ng-if="user.preEditar == false" ng-click="vm.editarUser(user,$index)">Editar</a>  
            <a ng-if="user.preEditar == true" ng-click="vm.confirmarEditar(user,$index)">Confirmar</a>  
            <a ng-if="user.preEditar == true" ng-click="vm.cancelarEditarUser(user,$index)"> Cancelar</a>  
            <a ng-if="user.preEditar == false" ng-click="vm.deleteUser($index)"> excluir</a>
        </td>
    </tr>
</table>

</div>