/*! gaw-dropdown - v1.0.11 - 2017-01-20 */

/**
 * Dropdown
 */
 .dropdown-inline {
    display: -ms-inline-flexbox;
    display: inline-flex; }
    .dropdown-inline > .dropdown:not(:first-child) {
      margin-left: .5rem; }
  
  .dropdown {
    position: relative; }
    .dropdown:not(.btn-group):not(.chip-group) {
      display: -ms-inline-flexbox;
      display: inline-flex; }
    .dropdown--hover:hover .dropdown__toggle + .dropdown__menu {
      display: block; }
    .dropdown--top > .dropdown__menu {
      bottom: 100%;
      top: auto; }
      .dropdown--top > .dropdown__menu::after {
        border-color: transparent transparent #fff #fff;
        bottom: -12px;
        box-shadow: -1px 1px 1px 0 rgba(96, 125, 139, 0.12);
        top: auto; }
    .dropdown--right > .dropdown__menu {
      left: auto;
      right: 0; }
      .dropdown--right > .dropdown__menu::after {
        left: auto;
        right: 1rem; }
    .dropdown--center > .dropdown__menu {
      left: 50%;
      transform: translate(-50%, 0); }
      .dropdown--center > .dropdown__menu::after {
        left: 50%;
        margin-left: -.5rem; }
    .dropdown--no-arrow > .dropdown__menu {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin-top: 0; }
      .dropdown--no-arrow > .dropdown__menu::after {
        border: 0; }
    .dropdown__menu {
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 0 7px 0 rgba(96, 125, 139, 0.24);
      color: #263238;
      display: none;
      float: left;
      font-size: .875rem;
      font-weight: 400;
      left: 0;
      line-height: 1rem;
      list-style: none;
      margin: .5rem 0;
      min-width: 13rem;
      padding: .5rem 0;
      position: absolute;
      text-align: left;
      top: 100%;
      z-index: 100; }
      .dropdown__menu::after {
        border-color: #fff #fff transparent transparent;
        border-style: solid;
        border-width: 6px;
        box-shadow: 1px -1px 1px 0 rgba(96, 125, 139, 0.12);
        content: '';
        left: 1rem;
        position: absolute;
        top: 0;
        transform: rotate(-45deg);
        transform-origin: 0 0; }
    .dropdown.is-open input {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; }
    .dropdown.is-open > .dropdown__menu {
      display: block; }
    .dropdown span {
      -ms-flex: 1;
          flex: 1; }
    .dropdown i + span {
      margin-left: .5rem; }
  
  ul.dropdown__menu li {
    display: -ms-flexbox;
    display: flex;
    padding: .5rem 1rem; }
    ul.dropdown__menu li > a {
      -ms-flex-align: center;
          align-items: center;
      color: #263238;
      display: -ms-flexbox;
      display: flex;
      -ms-flex: 1;
          flex: 1;
      margin: -.5rem 0;
      padding: .5rem 1rem;
      text-decoration: none; }
      ul.dropdown__menu li > a:only-child {
        margin: -.5rem -1rem; }
      ul.dropdown__menu li > a:first-child {
        margin-left: -1rem; }
      ul.dropdown__menu li > a:last-child {
        margin-right: -1rem; }
      ul.dropdown__menu li > a:hover, ul.dropdown__menu li > a:focus {
        background-color: rgba(38, 50, 56, 0.07); }
    ul.dropdown__menu li.is-heading {
      color: rgba(38, 50, 56, 0.34);
      font-size: .85rem;
      font-weight: 500;
      line-height: 1rem;
      text-transform: uppercase; }
    ul.dropdown__menu li.is-active > a {
      background-color: rgba(69, 89, 100, 0.07); }
    ul.dropdown__menu li.is-divider {
      box-shadow: 0 -1px 0 0 rgba(69, 89, 100, 0.14);
      margin: .5rem 1rem;
      margin-bottom: 0;
      padding-bottom: 0; }
  
  div.dropdown__menu {
    padding: 1rem 1rem 0; }
  
  .dropdown__toggle {
    cursor: pointer;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none; }
  
  .sidebar__queue {
    position: relative; }
  
  ul.list--modes {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -.25rem .5rem; }
    ul.list--modes > li {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-preferred-size: 6rem;
          flex-basis: 6rem;
      min-width: 6rem;
      padding: 0 .25rem .5rem; }
      ul.list--modes > li:hover > a,
      ul.list--modes > li:hover > span, ul.list--modes > li:focus > a,
      ul.list--modes > li:focus > span {
        box-shadow: 0 0 0 1px #cfd6db; }
      ul.list--modes > li.is-active > a,
      ul.list--modes > li.is-active > span {
        background-color: rgba(0, 0, 0, 0.05);
        box-shadow: none; }
  
  .square {
    -ms-flex-align: center;
        align-items: center;
    border-radius: 3px;
    box-shadow: 0 0 0 1px #eceff1;
    color: inherit;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    font-size: .875rem;
    padding: .5rem;
    width: 100%; }
    .square > figure {
      height: 3rem;
      width: 3rem; }
    .square > span {
      margin-top: .5rem;
      white-space: nowrap; }
  