<div>
    
    <div ng-if="vm.carregando">
    	Carregando página ...
	</div>
	<div class="container">  
	
		<md-button ng-click="vm.redirect('/')" class="md-raised md-warn">Voltar</md-button>
		<br/>
		<br/>
	  
	
	   
	    <md-input-container>
	         <label>Nome</label>
			 <input ng-model="vm.usuario.nome" />
	    </md-input-container>

        <div bb-dropdown bb-no-arrow="true">
		    <a href id="simple-dropdown" bb-dropdown-toggle>
		        Escolha o Sexo:
		    </a>
		    <ul bb-dropdown-menu aria-labelledby="simple-dropdown">
		        <li role="menuitem" ng-repeat="sexo in vm.sexos" >
		            <a ng-click="vm.setSexo(sexo)">{{ sexo.sexoUsuarioEnum }}</a>
		        </li>
		    </ul>
		 </div>
    

	
     <br /> 
     
      <md-button ng-click="vm.adicionarUsuario(vm.usuario)"  class="md-raised md-primary">Adicionar Usuário</md-button>
   
    
    
    	<!--  
        <table class="table table-bordered">
           
            <tr>
                <td width="100">                	
		 			 <md-input-container>
		          		<label>Nome</label>
		          		<input type="text" id="nome" ng-model="vm.usuario.nome" />
		        	</md-input-container>                	
                </td>
            </tr>
            <tr>
                <td width="100">Sexo</td>
                <td>
                   	<div bb-dropdown bb-no-arrow="true">
					    <a href id="simple-dropdown" bb-dropdown-toggle>
					        Escolha o Sexo:
					    </a>
					    <ul bb-dropdown-menu aria-labelledby="simple-dropdown">
					        <li role="menuitem" ng-repeat="sexo in vm.sexos" >
					            <a ng-click="vm.setSexo(sexo)">{{ sexo.sexoUsuarioEnum }}</a>
					        </li>
					    </ul>
					</div>
                </td>
            </tr>
           
        </table>
        -->
        
   
		<br/>
	    <br /> 
	    
	    <div role="alert" aria-live="assertive" aria-atomic="true">
	        <bb-alert bb-type="success" ng-show="vm.message != ''">
	            <bb-alert-content>
	                <p> {{vm.message}}</p>
	            </bb-alert-content>
	        </bb-alert>
	
	
	        <bb-alert bb-type="error" ng-show="vm.errorMessage != ''">
	            <bb-alert-content>
	                <p>{{vm.errorMessage}}</p>
	            </bb-alert-content>            
	        </bb-alert>
	    </div>
	
	
		<br />
			
		<table class="table table--hover table--striped">
	
		    <tr>
		        <th style="width:150px">Nome</th>
		        <th style="width:150px">Sexo</th>
		        <th style="width:150px">Tarefas</th>
		        <th>Ação</th>
		    </tr>
		    <tr ng-repeat="usuario in vm.usuarios">
		        
		        <td>
		            <div ng-if="usuario.preEditar == false">
		                {{ usuario.nome }}
		            </div>
		            <div ng-if="usuario.preEditar == true">
		                 <md-input-container>
		                	<label>Nome</label>
		                	<input id="id" ng-model="usuario.nome" />		                	
		                </md-input-container>
		            </div>
		        </td>
		        <td>
		            <div ng-if="usuario.preEditar == false">
		                {{ usuario.sexoUsuarioEnum }}
		            </div>
		            <div ng-if="usuario.preEditar == true">
		               	<div bb-dropdown bb-no-arrow="true">
						    <a href id="simple-dropdown" bb-dropdown-toggle>
						         {{ usuario.sexoUsuarioEnum }}
						    </a>
						    <ul bb-dropdown-menu aria-labelledby="simple-dropdown">
						        <li role="menuitem" ng-repeat="sexo in vm.sexos" >
						            <a ng-click="vm.setSexoUsuario(sexo,usuario)">{{ sexo.sexoUsuarioEnum }}</a>
						        </li>
						    </ul>
						</div>
		            </div>    
		        </td>
		        
		        <td>
		        	<ul>
		        		<li ng-repeat="tarefa in usuario.listaTarefas">
		        			{{ tarefa.nome }}
		        		</li>
		        	</ul>
		        </td>
		       
		        <td>
		           
		            <md-button ng-if="usuario.preEditar == false" ng-click="vm.editarUsuario(usuario,$index)" class="md-fab md-mini md-primary" aria-label="Editar">
            			<md-icon ng-if="usuario.preEditar == false" md-svg-icon="app/spas/users/img/edit.svg"></md-icon>
        			</md-button>
		            
		            <md-button ng-if="usuario.preEditar == true" ng-click="vm.confirmarEditar(usuario,$index)" class="md-fab md-mini md-primary" aria-label="Confirmar">
            			<md-icon ng-if="usuario.preEditar == true" md-svg-icon="app/spas/users/img/confirm_edit.svg"></md-icon>
        			</md-button> 
		              
		            <a ng-if="usuario.preEditar == true" ng-click="vm.cancelarEditarUsuario(usuario,$index)"> Cancelar</a>  
		            
		             <div ng-if="usuario.preEditar == false" >
		            	<a ng-if="usuario.preEditar == false" ng-click="vm.confirmarExcluirUsuario($index,$event)"> excluir</a>
		             </div>
		        </td>
		    </tr>
		</table>
	</div>	

</div>