<div>
    
    <div ng-if="vm.carregando">
    	Carregando página ...
	</div>
	<div class="container">  
	
		
		<md-button ng-click="vm.redirect('/')" class="md-fab md-mini md-primary" aria-label="Voltar">
      			<md-icon md-svg-icon="app/spas/users/img/back.svg"></md-icon>
      			<md-tooltip md-direction="bottom">Voltar</md-tooltip>
		</md-button> 
		
		<br/>
		<br/>
	  
	
	   
	    <md-input-container>
	         <label>Nome</label>
			 <input ng-model="vm.usuario.nome" />
	    </md-input-container>

        <div bb-dropdown bb-no-arrow="true">
		    <a href id="simple-dropdown" bb-dropdown-toggle>
		        Escolha o Sexo:
		    </a>
		    <ul bb-dropdown-menu aria-labelledby="simple-dropdown">
		        <li role="menuitem" ng-repeat="sexo in vm.sexos" >
		            <a ng-click="vm.setSexo(sexo)">{{ sexo.sexoUsuarioEnum }}</a>
		        </li>
		    </ul>
		 </div>
    

	
     <br /> 
     
      <md-button ng-click="vm.adicionarUsuario(vm.usuario)" rounded="true"   class="md-raised md-primary">Adicionar Usuário</md-button>
   
   
		<br/>
	    <br /> 
	    
	    <div role="alert" aria-live="assertive" aria-atomic="true">
	        <bb-alert bb-type="success" ng-show="vm.message != ''">
	            <bb-alert-content>
	                <p> {{vm.message}}</p>
	            </bb-alert-content>
	        </bb-alert>
	
	
	        <bb-alert bb-type="error" ng-show="vm.errorMessage != ''">
	            <bb-alert-content>
	                <p>{{vm.errorMessage}}</p>
	            </bb-alert-content>            
	        </bb-alert>
	    </div>
	
	
		<br />
			
		<table class="table table--hover table--striped">
	
		    <tr>
		        <th style="width:150px">Nome</th>
		        <th style="width:150px">Sexo</th>
		        <th style="width:150px">Tarefas</th>
		        <th style="text-align: center;width: 80px;">Ação</th>
		    </tr>
		    <tr ng-repeat="usuario in vm.usuarios">
		        
		        <td>
		            <div ng-if="usuario.preEditar == false">
		                {{ usuario.nome }}
		            </div>
		            <div ng-if="usuario.preEditar == true">
		                 <md-input-container>
		                	<label>Nome</label>
		                	<input id="id" ng-model="usuario.nome" style="width: 100%" />		                	
		                </md-input-container>
		            </div>
		        </td>
		        <td>
		            <div ng-if="usuario.preEditar == false">
		                {{ usuario.sexoUsuarioEnum }}
		            </div>
		            <div ng-if="usuario.preEditar == true">
		               	<div bb-dropdown bb-no-arrow="true">
						    <a href id="simple-dropdown" bb-dropdown-toggle>
						         {{ usuario.sexoUsuarioEnum }}
						    </a>
						    <ul bb-dropdown-menu aria-labelledby="simple-dropdown">
						        <li role="menuitem" ng-repeat="sexo in vm.sexos" >
						            <a ng-click="vm.setSexoUsuario(sexo,usuario)">{{ sexo.sexoUsuarioEnum }}</a>
						        </li>
						    </ul>
						</div>
		            </div>    
		        </td>
		        
		        <td>
		        	<ul>
		        		<li ng-repeat="tarefa in usuario.listaTarefas">
		        			{{ tarefa.nome }}
		        		</li>
		        	</ul>
		        </td>
		       
		        <td style="text-align: center;">
		          <div>
			           <div ng-if="usuario.preEditar == false" style=" display: inline-block;">			           
					        <div> 
						        <md-button ng-click="vm.editarUsuario(usuario,$index)" class="md-fab md-mini md-primary" aria-label="Editar">
				            		<md-icon  md-svg-icon="app/spas/users/img/edit.svg"></md-icon>
				            		<md-tooltip md-direction="bottom">Editar</md-tooltip>		        			
				        	    </md-button>
			        		</div> 
				       </div>   
				       <div ng-if="usuario.preEditar == true"  style=" display: inline-block;">	
				       		<div> 
					            <md-button ng-click="vm.confirmarEditar(usuario,$index)" class="md-fab md-mini md-primary" aria-label="Confirmar">
			            			<md-icon md-svg-icon="app/spas/users/img/confirm.svg"></md-icon>
			            			<md-tooltip md-direction="bottom">Confirmar</md-tooltip>
			        			</md-button> 
			        		</div>
			           </div>   
			           <div ng-if="usuario.preEditar == true"  style=" display: inline-block;">	
			           		<div>
					            <md-button ng-click="vm.cancelarEditarUsuario(usuario,$index)" class="md-fab md-mini md-primary" aria-label="Cancelar">
					            	<md-icon  md-svg-icon="app/spas/users/img/cancel.svg" ></md-icon>	
					            	<md-tooltip md-direction="bottom">Cancelar</md-tooltip> 
					            </md-button>
				            </div>
			           </div> 
			           <div ng-if="usuario.preEditar == false" style=" display: inline-block;"> 
			           		<div>
					             <div ng-click="vm.confirmarExcluirUsuario($index,$event)" >
					            	<md-button class="md-fab md-mini md-primary"  aria-label="Excluir">
					            		<md-icon md-svg-icon="app/spas/users/img/delete.svg"></md-icon>
					            		<md-tooltip md-direction="bottom">Excluir</md-tooltip> 
					            	</md-button>
					             </div>
					        </div>
				       </div>			      
			       </div>
		        </td>
		    </tr>
		</table>
	</div>	

</div>